# Apples to Oranges

The goal for this excersise is to write a program that converts apples to oranges and identify how many records you were able to match.

In [ ]:
import pandas as pd

Importing TXT files and reasing them as lists

In [143]:
apples = pd.read_csv('apples.txt', names=["City"])
apples.City.to_list()

['Buffalo city',
 'Philadelphia city',
 'Paris city',
 'Los Angeles city',
 'Boston city',
 'Lansing city',
 'Ann Arbor city',
 'Indianapolis city']

In [136]:
oranges = pd.read_csv('oranges.txt', names =["City"], sep ="\t")
oranges.City.to_list()

['city of Paris, TX',
 'city of Philadelphia, PA',
 'city of Buffalo, NY',
 'city of Lansing, MI',
 'city of Ann Arbor, MI',
 'city of Boston, MA',
 'city of Indianapolis, IN',
 'city of San Francisco, CA']

Converting Apples to the same address structure as Oranges

In [137]:

apples['City2'] = apples.City 
apples.City2 = apples.City2.str.replace(' city','')
apples.City2 = 'city of '+ apples.City2
oranges.City.sort_values()


#Also changing oranges to match the same address style and creating a new variable 
listoranges = oranges.City.str.split(',', expand=True)[0]

print(apples.City2)

0         city of Buffalo
1    city of Philadelphia
2           city of Paris
3     city of Los Angeles
4          city of Boston
5         city of Lansing
6       city of Ann Arbor
7    city of Indianapolis
Name: City2, dtype: object

Converting to list format

In [138]:
list1 = apples.City2.to_list()
list2 = listoranges.to_list()

['city of Paris', 'city of Philadelphia', 'city of Buffalo', 'city of Lansing', 'city of Ann Arbor', 'city of Boston', 'city of Indianapolis', 'city of San Francisco']
8

Looking at the two lists, its components and how many addresses there are

In [150]:
print(list2)
print(len(list2))

['city of Paris', 'city of Philadelphia', 'city of Buffalo', 'city of Lansing', 'city of Ann Arbor', 'city of Boston', 'city of Indianapolis', 'city of San Francisco']
8

In [139]:
print(list1)
print(len(list1))

['city of Buffalo', 'city of Philadelphia', 'city of Paris', 'city of Los Angeles', 'city of Boston', 'city of Lansing', 'city of Ann Arbor', 'city of Indianapolis']
8

Creating a loop to go through items in list 1 and match them to items in list 2. Then adding the matched items into a new list called "matchlist".

In [140]:
matchlist = []

for i in list1:
    if i in list2:
        matchlist.append(i)
        
print(matchlist)

['city of Buffalo', 'city of Philadelphia', 'city of Paris', 'city of Boston', 'city of Lansing', 'city of Ann Arbor', 'city of Indianapolis']

Looking at how many items we were able to match between the two lists

In [149]:
print(len(matchlist))

7

# Conclusion: 

There were 7 total matches between list 1 and list 2
    
    • city of Buffalo 
    • city of Philadelphia 
    • city of Paris 
    • city of Boston 
    • city of Lansing 
    • city of Ann Arbor
    • city of Indianapolis 
    
 city of San Francisco was not in list 1 
 
 city of Los Angeles was not in list 2